footer {
    color: white;
    opacity: 0.9;
    position: static;
    bottom: 0;
    padding: 20px 0px;
    margin: 0;
}

footer p {
    font-size: 0.45rem;
    letter-spacing: 1.5px;
}

footer .right {
    float: right;
}

footer .left {
    float: left;
}