form{
    font-family: 'Lato', sans-serif;
    color: #ffffff;   
}

.forms{
    width: 49%;
    float: left;
    background: rgba(255,255,255, 0.1);
}
.forms:first-child{
    margin-right:2%;
}

.form div{
    padding: 2%;
}

input[type=textarea]{
    width: 100%;
    border: none;
    height: 55px;
    font-size: 0.9rem; 
    padding: 10px;
    padding-right: 40px;
}

.textarea{
    width: 100%;
    background: none;
    position: relative;
}

.formButton {
    position: absolute;
    font-family: 'Lato', sans-serif;
    color:#1a1a1a;
    border: none;
    font-weight: 400;
    font-size: 2rem;
    background: none;
    top: 9px;
    right: 10px;
}

.formButton:focus,
.formButton:hover,
.mapSubmit:focus,
.mapSubmit:hover {
    color: #ff450b;
}

form label{
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-shadow: 2 2 11 #1a1a1a;
    margin-left: 1%;
}

/* names */
.bunkerNames{
    text-align: center;
}

.bunkerNames label{
    font-size: 0.8rem;
    font-weight: 100;
    background: rgba(255,69,11, .3); 
    width: 20%;
    margin: 2% 3.2%;
    display: inline-block; 
    padding: 10px;
}

.bunkerNames label span{
    font-weight: 900;
}

.bunkerNames label:nth-child(2){
    margin-left: 0;
}

.bunkerNames label:nth-child(8){
    margin-right: 0;
}

input[type=radio]{
    opacity: 0;
    position: absolute;
}

input[type=radio]:checked + label{
    background: rgba(255,69,11, .73); 
 }

 input[type=radio] + label:hover{
    background: rgba(255,69,11, .73); 
    opacity: 73%;
    transition: all .3s;
 }

 input[type=radio]:focus + label{
  box-shadow: 0 0 11px #ff450b;
  background: none;
  border: 2px solid #ff450b;
 }

p.listIntro {
    font-size: 0.9rem;
    text-align: left;
    font-weight: 400;
    width: 100%;
}

form label {
    padding-left: 5px;
}

.introWrapper {
    width: 95%;
    min-height: 100px;
}

ul {
    list-style: none;
    padding: 0;
}


