.mapSection {
  margin-top: 50px;
}

.mapLeft {
  float: left;
  width: 49%;
  margin-right: 2%;
  line-height: 1.6;
}
.mapLeft img {
  width: 94%;
}

.mapLeft h2 {
  margin-left: 0;
}

.mapRight {
  float: right;
  width: 49%;
  overflow-y: scroll;
  height: 800px;
  font-family: 'Lato', sans-serif;
}

.mapRight .mapImage {
  padding-left: 6%;
  width: 94%;
}

.mapRight p {
  padding-left: 6%;
}

.directions div,
.directions p {
  padding: 0% 6%;
}

.symbols {
  margin-right: 10px;
  float: left;
}

.mapRight a {
  text-decoration: none;
  font-weight: bold;
  color: #43a818;
  transition: 0.3s;
}

.mapRight a:hover {
  color: #ff450b;
}

.mapSubmit {
  position: absolute;
  font-family: 'Lato', sans-serif;
  color:#1a1a1a;
  border: none;
  font-weight: 400;
  font-size: 2rem;
  background: none;
  top: 2px;
  right: 10px;
}

h2 {
  margin: 6%;
}

.mapParent {
  position: relative;
  margin: 6%;
  

}

.mapInput {
  margin: 0 auto 40px auto;
  /* margin-bottom: 40px; */
  width: 95%;
}