/* tablet */

@media(min-width: 997px){
    /* bunkernames */
    form .bunkerNames label{
    font-size: 0.9rem;
    margin: 0;
    display: inline-block; 
    padding: 5px;
}
}

@media (max-width: 800px) {
  /* header */
  header,
  header p {
    font-size: 0.75rem;
  }

  header button,
  header .content p {
    padding: 10px 0;
  }
  /* form sections */
    .forms {
        width: 100%;
        margin-top: 25px;
    }

    .forms li {
      font-size: 0.8rem;
    }

    .forms p {
      font-size: 0.8rem;
    }

    .lists li label::before{
      top: 0px;
    }

    .lists li label::after {
      top: 2.5px;
    }
}

@media (max-width: 400px) {
  /* h1 for login and main pages */
  h1 {
    font-size: 4rem;
    margin-bottom: 50px;
  }
}