/* tablet */

/* @media(min-width: 1000px){
   
    form .bunkerNames label{
        
    }
} */


@media(max-width: 900px){
    /* bunkernames */
    .bunkerNames label{
        width:48%;
        float: left;
        margin: 2% 0;
    }
    .bunkerNames label:nth-child(2){
        margin-right:4%;
    }

    .bunkerNames label:nth-child(6){
        margin-right:4%;
    }
}


@media(max-width: 550px){
    /* bunkernames */
    .bunkerNames{
    }
    .bunkerNames label{
        display: block;
        width: 100%;
        min-width: 100px;
        margin: 1% 0;
        
    }
    .bunkerNames label:nth-child(2){
        margin: 40px 0 1% 0;
    }

    .bunkerNames label:nth-child(6){
        margin-right: 0;
    }

     .bunkerNames label:nth-child(8){
        margin-bottom: 40px;
    }
}